.idea/
target/
.sqlx/

.*
!.gitignore
!.claude/
!.github/
!.agents/

#Externally mainaged GCX skills
.agents/skills/create-dashboard 
.agents/skills/debug-with-grafana 
.agents/skills/investigate-alert 
.agents/skills/manage-dashboards

*.local.json

Cargo.lock

/*.toml
!Cargo.toml
!clippy.toml

*.stderr

